html, body {
    margin 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 520px;
    border-style: solid;
    border-radius: 16px;
    padding: 24px;
}

.inner-display {
    flex: 1 0 0; /* Grow all the way, do not shrink */
    border-style: solid;
    margin-bottom: 24px;
}

.inner-buttons {
    flex: 2.5 0 0; /* Button containers take 2.5 ratio of the space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inner-display, .inner-buttons {
    border-radius: 4px;
}

.buttons-1, .buttons-2, .buttons-3, .buttons-4 {
    flex: 1 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-1 > *, .buttons-2 > *, .buttons-3 > *, .buttons-4 > * {
    border-style: solid;
    border-radius: 4px;
    width: 80px;
    height: 60px;
}

.buttons-1 {
    margin-top: -18px;
}

.buttons-4 {
    margin-bottom: -18px;
}

