html, body {
    margin 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 520px;
    border-style: solid;
    border-radius: 16px;
    padding: 24px;
}

.inner-display, .inner-buttons {
    border-radius: 4px;
}

.inner-display {
    flex: 1 0 0; /* Grow all the way, do not shrink */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border-style: solid;
    margin-bottom: 16px;
    padding: 8px;
}

.display, .tracker {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.display {
    flex: 2 0 0;
    font-size: 32px;
}

.tracker {
    flex: 1 0 0;
}

.inner-buttons {
    flex: 3.5 0 0; /* Button containers take 2.5 ratio of the space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons-0, .buttons-1, .buttons-2, .buttons-3, .buttons-4 {
    flex: 1 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-0 > * {
    border-style: solid;
    border-radius: 4px;
    width: 186.5px;
    height: 60px;
    font-size: large;
}

.buttons-1 > *, .buttons-2 > *, .buttons-3 > *, .buttons-4 > * {
    border-style: solid;
    border-radius: 4px;
    width: 80px;
    height: 60px;
    font-size: large;
}

.buttons-4 {
    margin-bottom: -18px;
}

button:hover {
    background-color: #cdced1;
    /*Make it #91908d on click*/
}
